
* {
  box-sizing: border-box;
}
:root {
  background-color: gainsboro;
}
body {
  width:90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  width:150px;
  height:200px;
  border-radius: 50%;
  border: 6px solid white;
  margin-left: 50px;

}

h1 {
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  font-size: 45px;
  font-family:"Cabin+Sketch", sans-serif;
  color: white;
  height:2em;
  background-color: black;
}
h4 {
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  color: slategrey;
}
