
* {
  box-sizing: border-box;
}
:root {
  background-color: gainsboro;
}
body {
  width:90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  width:270px;
  height:250px;
  margin-top: .75em;
  border-radius: 50%;
  border: 6px solid black;
  margin-left: 40%;
  background-color: black;


}

h1 {
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  font-size: 36px;
  font-family:"Cabin+Sketch",serif;
  color: white;
  height:2em;
  background-color: black;
  box-shadow: 3px 10px 12px whitesmoke;
  border-radius: 5px;
}
h3 {

  font-family: "Advent+Pro", sans-serif;
  font-size: 1em;;
  text-align: left;
  border-bottom: 3px solid darkgrey;
}
h4 {
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  color: slategrey;
}

.main-nav {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0;
  height: 10px;
  text-align: left;
}
 a, li {
  display: block;
  list-style: none;
  color: whitesmoke;
  background-color: black;
  text-decoration: none;
  text-align: center;
  margin:4px;
  padding: 4px;
  text-align: left;
  font-family: "Josefin+Slab", sans-serif;

}
ul.nav {
  display: block;
}
